<div class="list-group">
  <a href="/requests" class="list-group-item">
    <h4 class="list-group-item-heading">Requests</h4>
  </a>
  <a href="/products" class="list-group-item">
    <h4 class="list-group-item-heading">Products</h4>
  </a>
</div>
